
@{
    ViewBag.Title = "AboutIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/pages/AboutUs.js"></script>
<style>
    .row2 {
        margin-top: 50px;
    }

    .descText {
        color: black;
        font-weight: 600;
    }
</style>

<div class="back_re">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2><i>आमच्याबद्दल</i> </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about -->
<div class="about">
    <div class="container-fluid" id="tblAbout">
        @*<div class="row">*@
        <!--<div class="col-md-7">
            <div class="about_img">

                <figure><img src="~/Content/images/Gallery10.jpg" /></figure>
            </div>
        </div>
        <div class="col-md-5">
            <div class="titlepage">

                <p class="margin_0">
                    <i class="descText">
                        दि. 4 जून 2023 यादिवशी वाद्यपूजन करून आमच्या पथकाचा श्रीगणेशा झाला तसेच छत्रपती शिवाजी महाराजांच्या राज्याभिषेक सोहळ्याच्या दिवशी
                        महावादनात ढोल-ताशा वाजविण्याचे सौभाग्य आम्हास लाभले. ज्ञानप्रबोधिनी नंतर अनेक मंडळांनी आपापल्या ढोल पथकाची स्थापना केली.
                        आज नागपूर मध्ये अनेक प्रसिद्ध ढोल-ताशा पथक आहेत. ढोल पथक दर वर्षी नागपुर मधील सार्वजनिक गणेशोत्सव, शिवजयंती, दुर्गोत्सव इत्यादी...
                        मिरवणुकीमध्ये ढोल ताशांचे वादन  करीत असतात. पुरातन काळाशी नाते सांगणाऱ्या ढोल-ताशा, शंख - झांजा आणि ध्वनाशी घट्ट नाळ असणाऱ्या
                        ढोल ताशा पथकांनी आपल्या वादनातून एका अर्थाने आपली सांस्कृतिक ओळख निर्माण केली आहे.

                    </i>

                </p>-->
        @*<a class="read_more" href="Javascript:void(0)"> अधिक वाचा</a>*@
        <!--</div>
        </div>-->
        @*</div>*@



        <!--<div class="row row2">

            <div class="col-md-5">
                <div class="titlepage">

                    <p class="margin_0">
                        <i class="descText">
                            नमस्कार मंडळी
                            सुखात --->
        @*शिवजयंतीपासून
            दररोजच्या धावपळीच्या जिवनात सर्वानी 'आपले  छंद जोपासले पाहिजेत. असाच एक छंद आणि आवड, म्हणून आमच्या या पथकाची सुरवात झाली. आम्ही सर्व मित्रमंडळी नागपूरच्या विविध भागामध्ये राहत असुन सुद्धा जेव्हा ढोल-ताशा वाजवण्याची वेळ येते तेव्हा आम्ही जोशाने एकत्र येतो
            दि. 4 जून 2023 ला यादिवशी वादयपूजन करून आमच्या पथकाचा श्रीगणेशा झाला छत्रपती शिवाजी महाराज  यांच्या राज्याभिषेक सोहळ्याच्या दिवशी महावादनात ढोल-ताशा वाजविण्याचे सौभाग्य लाभले.
            ज्ञानप्रबोधिनी नंतर अनेक मंडळांनी त्यांच्या त्यांच्या ढोल पथकाची स्थापना केली. आज नागपूर मध्ये अनेक प्रसिद्ध ढोल-ताशा पथक आहे.*@
        <!--ढोल पथक दर वर्षी नागपुर मधील सार्वजनिक गणेशोत्सव शिवजयंती, दुर्गोत्स्व मिरवणुकीत....
                            ढोल ताशांचे वादन  करतात. पुरातन काळाशी नाते सांगणाऱ्या ढोल ताशा शंख - झांजा आणि ध्वनाशी घट्ट नाळ असणाऱ्या ढोल ताशा पथकांनी. आपल्या
                            वादनातून एका अर्थाने आपली सांस्कृतिक ओळख निर्माण केली आहे. अशा पथकांचे श्री गणेशा
                            पुढील लयबद्ध, ताल बरच वादन एकणे ही जनु परवणीच- ब्रिटिश राजवटीच्या काळात विजयादशमी, शिवजयंती आणि गणेशोत्सवातुन वादय वाजनाचा परवाठागी डॉ. एम. डी. वेलकर यांनी १९१६ मध्ये मिळवली.
                        </i>

                    </p>
                    <a class="read_more" href="Javascript:void(0)">अधिक वाचा</a>

                </div>
            </div>
            <div class="col-md-7">
                <div class="about_img">

                    <figure><img src="~/Content/images/Gallery10.jpg" /></figure>
                </div>
            </div>

        </div>-->
    </div>
</div>
