
@{
    ViewBag.Title = "KatarVadakIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<style>
    .bed_room a {
        font-size: 28px;
        margin-left: 20px;
    }

    .logo1 {
        
        color: black;
    }

        .logo1:hover {
            color: #e3145c;
        }

    .logo2 {
        
        color: black;
    }

        .logo2:hover {
            color: #3a14e3;
        }

    .room_img figure img {
        height: 350px;
        overflow: hidden;
        
        
        /* width:100px;*/
    }

    .ClsName {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 20px;
        font-weight: 500;
    }

        .ClsName:hover {
            text-decoration: underline;
            text-decoration-color: red;
            color: red;
        }

        .ClsName a icon {
            margin-left: 40px;
        }
        .room{
            border:2px solid black;
            border-radius:5px;
        }
</style>


<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>keto</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/Content/css/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/Content/css/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="~/Content/css/images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/Content/css/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>

<div class="back_re">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                   <h2><i>कट्टर वादक</i></h2> 
                </div>
            </div>
        </div>
    </div>
</div>


<!--  Kattar Vadak Images -->
<div class="our_room">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <p class="margin_0">
                        || छत्रपती हे दैवत आमुचे "माणुसकी हा धर्म" संगीत ही कला आमुची "वादन हे कर्म ||
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-8">
                <div id="serv_hover" class="room">
                    <div class="room_img">
                        <figure><img src="~/Content/images/prajwal resize.jpg" alt="#" /></figure>
                        
                    </div>
                    <div class="bed_room">
                        <span class="ClsName">
                            Prajwal Gode
                            <a href="https://www.instagram.com/"><ion-icon name="logo-instagram" class="logo1"></ion-icon></a>
                            <a href="https://www.facebook.com/"><ion-icon name="logo-facebook" class="logo2"></ion-icon></a>
                        </span>

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div id="serv_hover" class="room">
                    <div class="room_img">
                        <figure><img src="~/Content/images/IMG-20230711-WA0014.jpg" alt="#" /></figure>
                    </div>
                    <div class="bed_room">
                        <span class="ClsName">
                            Avinash Gupta
                            <a href="https://www.instagram.com/"><ion-icon name="logo-instagram" class="logo1"></ion-icon></a>
                            <a href="https://www.facebook.com/"><ion-icon name="logo-facebook" class="logo2"></ion-icon></a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div id="serv_hover" class="room">
                    <div class="room_img">
                        <figure><img src="~/Content/images/IMG-20230711-WA0013.jpg" alt="#" /></figure>
                    </div>
                    <div class="bed_room">
                        <span class="ClsName">
                            Aditya Tagde
                            <a href="https://www.instagram.com/"><ion-icon name="logo-instagram" class="logo1"></ion-icon></a>
                            <a href="https://www.facebook.com/"><ion-icon name="logo-facebook" class="logo2"></ion-icon></a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div id="serv_hover" class="room">
                    <div class="room_img">
                        <figure><img src="~/Content/images/IMG-20230711-WA0013.jpg" alt="#" /></figure>
                    </div>
                    <div class="bed_room">
                        <span class="ClsName">
                            Saurabh Jaiswal
                            <a href="https://www.instagram.com/"><ion-icon name="logo-instagram" class="logo1"></ion-icon></a>
                            <a href="https://www.facebook.com/"><ion-icon name="logo-facebook" class="logo2"></ion-icon></a>
                        </span>
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-sm-6">
                <div id="serv_hover" class="room">
                    <div class="room_img">
                        <figure><img src="~/Content/images/IMG-20230711-WA0011.jpg" alt="#" /></figure>
                    </div>
                    <div class="bed_room">
                        <span class="ClsName">
                            Aadesh Moon
                            <a href="https://www.instagram.com/"><ion-icon name="logo-instagram" class="logo1"></ion-icon></a>
                            <a href="https://www.facebook.com/"><ion-icon name="logo-facebook" class="logo2"></ion-icon></a>
                        </span>

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div id="serv_hover" class="room">
                    <div class="room_img">
                        <figure><img src="~/Content/images/IMG-20230711-WA0008.jpg" alt="#" /></figure>
                    </div>
                    <div class="bed_room">
                        <span class="ClsName">
                            Atharva Mohite
                            <a href="https://www.instagram.com/"><ion-icon name="logo-instagram" class="logo1"></ion-icon></a>
                            <a href="https://www.facebook.com/"><ion-icon name="logo-facebook" class="logo2"></ion-icon></a>
                        </span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end Kattar Vadak Images -->