
@{
    ViewBag.Title = "RegistrationList";
    Layout = "~/Views/Shared/_Layout - Admin.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/pages/Registration.js"></script>
<style>
    .x {
        margin-top: 87px;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js" defer="defer"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables-buttons/2.3.6/js/dataTables.buttons.min.js" defer="defer"></script>



<main class="main" id="main">
    <div class="x">

        <table id="tblRegistration" class="table table-striped table-bordered" border="1">
            @*<thead>
                    <tr>
                        <th>ID</th>
                        <th>FullName</th>
                        <th>Mobile</th>
                        <th>Email</th>
                        <th>Age</th>
                        <th>DOB</th>
                        <th>Bloodgroup</th>
                        <th>Aadhar</th>
                        <th>Gender</th>
                        <th>Address</th>
                        <th>Occupation</th>
                        <th>IsActive</th>
                        <th>CreateDate</th>
                        <th>Photo</th>
                    </tr>
                </thead>
                <tbody></tbody>*@
        </table>
    </div>
</main>
<div id="WriteToUsModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                <h1>Write To Us &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h1>
            </div>

            <div class="modal-body">
                <div>
                    <input type="hidden" id="hdnId" />
                    <form class="row g-3">
                        <div class="col-md-12">
                            <b> <label for="inputName5" class="form-label">Full Name</label></b>
                            <input type="text" id="txtFullName" class="form-control" placeholder="Enter FullName" />
                        </div>
                        <div class="col-md-6">
                            <b><label for="inputEmail5" class="form-label">Mobile</label></b>
                            <input type="text" id="txtMobile" class="form-control" placeholder="Enter Mobile" />
                        </div>
                        <div class="col-md-6">
                            <b><label for="inputPassword5" class="form-label">Email</label></b>
                            <input type="text" id="txtEmail" class="form-control" placeholder="Enter Email" />

                        </div>
                        <div class="col-sm-4">
                            <b> <label for="inputAddress2" class="form-label">Date Of Birth </label></b>
                            <input type="date" id="txtDOB" class="form-control" placeholder="Enter DOB" />
                        </div>
                        <div class="col-sm-4">
                            <b> <label for="inputAddress5" class="form-label">Age</label></b>
                            <input type="text" id="txtAge" class="form-control" placeholder="Enter Age" />
                        </div>
                        <div class="col-md-4">
                            <b> <label for="inputCity" class="form-label">BloodGroup</label></b>
                            <input type="text" id="txtBloodGroup" class="form-control" placeholder="Enter BloodGroup" />
                        </div>
                        <div class="col-sm-4">
                            <b> <label>Gender</label></b>
                            <br />
                            <label style="margin-top:10px;">
                                <input type="radio" id="txtGender" name="Gender" value="Male" />
                                Male
                            </label>&nbsp; &nbsp; &nbsp;
                            <label style="margin-top:10px;">
                                <input type="radio" id="txtGender" name="Gender" value="Female" />
                                Female
                            </label>
                        </div>

                        <div class="col-md-4">
                            <b> <label for="inputCity" class="form-label">Aadhar</label></b>
                            <input type="text" id="txtAadhar" class="form-control" placeholder="Enter Aadhar" />

                        </div>
                        <div class="col-md-4">
                            <b> <label for="inputCity" class="form-label">Occupation</label></b>
                            <input type="text" id="txtOccupation" class="form-control" placeholder="Enter Occupation" />
                        </div>
                        <div class="col-md-12">
                            <b><label for="inputCity" class="form-label">Address</label></b>
                            <input type="text" id="txtAddress" class="form-control" placeholder="Enter Address" />

                        </div>

                        <div class="col-sm-6">
                            <b><label for="inputCity" class="form-label">Upload Photo</label></b>
                            <input type="file" id="file1" class="form-control" placeholder="Enter Photo" />
                        </div>
                        <div class="col-sm-6" style="margin-top:50px;">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="txtIsActive">
                                <label class="form-check-label" for="gridCheck">
                                    Agree all Terms And Conditions
                                </label>
                            </div>
                        </div>
                        <div class="text-center">
                            <input type="button" value="Submit" class="btn btn-success" onclick="SaveRegistration()" />
                            <button type="reset" class="btn btn-secondary">Reset</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="RegistrationModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                <h1>Write To Us &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h1>
            </div>

            <div class="modal-body">
                <div class="container" id="RegistrationDetail">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>