
@{
    ViewBag.Title = "BlogIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/pages/Blog.js"></script>
<style>
    .blog_img figure img {
        height: 200px;
        border-radius: 23px;
    }

    .blog_box {
        height: 450px;
        border-radius: 25px;
    }

    .blog {
        margin-top: 0px;
    }
</style>

<div class="back_re">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2><i>ब्लॉग</i></h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- blog -->
<div class="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">

                    <p class="margin_0">नाद काय आहे हे फक्त ढोल हातात घेतल्यावरच कळतं..!</p>
                </div>
            </div>
        </div>
        <div class="row" id="tblBlog">
            <!--<div class="col-md-4">
                <div class="blog_box">

                    <div class="blog_img">
                        <figure><img src="~/Content/images/gallery1.jpg" /></figure>


                    </div>
                    <div class="blog_room">-->
            @*<h3>साई मुद्रा</h3>*@
            <!--<span>ढोल ताशा पथक</span>
                        <p>
                            🍁👏
                            आम्ही धरतो ताल…
                            ढोलाच्या ठोक्याने ,
                            ताशाच्या काडीने,
                            झाजाच्या वेड़ाने,
                            टोलाच्या धड़ाडीने,
                            ध्वजाच्या भरारीने,
                            मनाच्या उमेदिने,
                            अभेद मैत्रीने,
                            तरुण्याच्या एकीने,
                            बाप्पाच्या भक्तिने,
                            👍🌺
                        </p>
                    </div>
                </div>
            </div>-->
            <!--<div class="col-md-4">
                <div class="blog_box">

                    <div class="blog_img">
                        <figure><img src="~/Content/images/gallery3.jpg" /></figure>
                    </div>
                    <div class="blog_room">-->
            @*<h3>साई मुद्रा</h3>*@
            <!--<span> ढोल ताशा पथक</span>
                        <p>
                            🌹👉🏻👇🏽
                            ढोल म्हणजे काय
                            ते ठोका पडल्याशिवाय समजत नाही!!
                            ताशा म्हणजे काय
                            ते कतरी पडल्याशिवाय समजत नाही!!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog_box">
                    <div class="blog_img">
                        <figure><img src="~/Content/images/gallery6.jpg" /></figure>
                    </div>
                    <div class="blog_room">-->
            @*<h3>साई मुद्रा</h3>*@
            <!--<span> ढोल ताशा पथक</span>
                        <p>
                            🐾🌿
                            ढोल वाजवायला फक्त शिस्त असून उपयोग नाही
                            तर त्या बरोबर हवे वादनवेड !!
                            # जोश # उत्साह # वादक # साई मुद्रा ढोल – ताशा पथक🌾🌾
                        </p>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>
