
@{
    ViewBag.Title = "GalleryIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/pages/Gallery.js"></script>

<style>
    .img1 {
        height: 326px;
        width: 311px;
        cursor: pointer;
        border-radius: 10px;
        border: 2px solid black;
    }
</style>

<div class="back_re">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2><i>संग्रहालय</i> </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <p class="margin_0">

                        अंगाअंगात शहारतो उत्सवाचा जोश ढोल-ताशांच्या आवाजाने सारे होतात मदहोश..

                        ताशाच्या तर्रीचा आवाज जेव्हा पसरतो सर्वत्र क्षणामध्ये सारे जमतात एकत्र.. महाराजांच्या नावाच्या गर्जनेने दुपटीने अंगी एकवटते बळ ढोल फाटतो पण लागत नाही हाती कळ.. गणेशोत्सवाच्या रंगात जेव्हा ढोलताशे

                        वाजतात

                        सर्वांचे हातापाय तेव्हा आपोआप नाचतात.. एका ढोलाच्या ठोक्यातच जेव्हा रसिकांच्या काळजाचा ठोका वाढतो तोच वादक म्हणून मनामनात गाजतो..!
                    </p>
                </div>
            </div>
        </div>
        <div class="row" id="tblGallery">
            @*<div class="col-md-3 col-sm-6">

                    <div class="gallery_img">
                        <figure> <img src="~/Content/images/gallery1.jpg" class="img1" /></figure>
                    </div>
                </div>*@
            @*<div class="col-md-3 col-sm-6">
                    <div class="gallery_img">

                        <figure>  <img src="~/Content/images/gallery2.jpg" class="img1" /></figure>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="gallery_img">
                        <figure><img src="~/Content/images/gallery3.jpg" class="img1" /> </figure>

                    </div>
                </div>
                <div class="col-md-3 col-sm-6">

                    <div class="gallery_img">
                        <figure><img src="~/Content/images/Gallery9.jpg" class="img1" /></figure>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">


                    <div class="gallery_img">
                        <figure><img src="~/Content/images/gallery5.jpg" class="img1" /></figure>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">

                    <div class="gallery_img">
                        <figure><img src="~/Content/images/gallery6.jpg" class="img1" /></figure>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="gallery_img">
                        <figure><img src="~/Content/images/gallery7.jpg" alt="#" class="img1" /></figure>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="gallery_img">
                        <figure><img src="~/Content/images/prajwal resize.jpg" class="img1" /></figure>
                    </div>
                </div>*@
        </div>
    </div>
</div>
